/***** BASE STYLES *****/
body{
  background-color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto Slab', sans-serif; */
}

p {
  color: white;
  line-height: 1.5;
  font-weight: lighter;
  font-size: calc(20px + 0.5vw); /* responive font size */
}

h2 {
  padding: 0px;
  border: 0px;
  margin-bottom: 0px;
  font-size: calc(25px + 0.5vw); /* responsize font size */
  color: white;
}

/***** GRID *****/

.full-width {
  margin: 0 auto;
  width: 100%;
}

.half-width {
  float: left;
  width: 50%;
}

.third-width {
  float: left;
  width: 33%;
}

.two-third-width {
  float: left;
  width: 66%;
}



/* Section introduction letters */
.section_headers {
  mix-blend-mode: overlay; /* to blend the text into the background */
  font-size: 15vw; /* scaling font (responsive) */
  color: white;
  text-align: center;
  padding: 150px 0px 150px 0px;
  margin: 0px;
  border: 0px;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
}

/* centering of images within divs */
.centering {
  margin-right: auto; /* to center the images horizontally and vertically within the div*/
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* making text bold */
.text-strong-highlight {
  font-weight:  bold;
}

.section_contents {
  height: 400px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/***** HEADER *****/

header {
  height: 100px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: url('../img/background_foto_forest.png') center center;
  border-bottom: 3px solid #24382B ;
  position: fixed; /* so that the nav bar is always visible */
  width: 100%; /* to make the nav bar wisth the whole screen */
  background-size: cover;
}


nav {
  float: right;
  padding-top: 20px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none; /* so that text/links doesn't have an underline */
  font-size: calc(10px + 0.5vw); /* responsive text size with min font size 15x */
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

header #logo {
  padding: 20px 0 0 10%;
  margin: 0px;
  border: 0px;
}


/***** STARTPAGE *****/

#startpage {
  background: url('../img/background_foto_forest.png') no-repeat center center fixed;
  min-height: 800px;
  height: auto;
}

#slogan {
  color: white;
  font-size: 5vw; /* responsive font size */
  padding: 90px 0px 0px 100px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: black 900 ;

}

#highlight_slogen1 {
  color: #C490D1;
  font-size: 6.5vw; /* responsive font size */
}

#highlight_slogen2 {
  color: #2D81AF;
  font-size: 8vw; /* responsive font size */
  padding-left: 40px;
}

#action_slogan {
  padding-top: 250px;
  font-size: 2vw;
  font-family: 'Titillium Web', sans-serif;
}


#startpage_button {
  /* needed to have the transparent part of the png showing off  */
  background-color: transparent;
  border: 0px;
  min-width: 100%;
}


#chamaeleon {
  padding-left: 40%;
  padding-top: 140px;
  mix-blend-mode: normal;
  position: absolute;
}

#chamaeleon:hover {
  mix-blend-mode: difference  ; /* DIFFERENCE hard-light overlay*/
}

/***** WORK *****/
#work {
  background: url('../img/work_water_from_space_background.png') no-repeat center top fixed;
}

#work_projects {
  background: #2D81AF;
  padding: 5% 10% 5% 10%; /* to assure that there are no spaces between other page sections*/
}

#work_project_item {
  border: 0px;
  margin: auto;
  padding: auto;
  overflow: hidden;
  max-width: 900px;
  list-style: none;
}

#work_projects li {
  display: inline-block;
  width: 30%;  /*set the width of the project logo elements*/
  vertical-align: top; /* to put the logos on the top of the div element */
  padding-right: 10px; /* distance between project logo items */
  margin: 0px;
  text-align: center; /* to center the project logos and desctiptions */
  /*border: 1px solid red; */ /* to check the sizes and distribution of the logos*/
}

.work_projects_cell {
  display: block;
  overflow: hidden;
}

.work_projects_cell img {
  border: none;
}

/* formatting work project logo */
.work-project-logo {
  mix-blend-mode: overlay;
}

.work-project-logo:hover {
  mix-blend-mode:  normal;
}


/* formatting caption */
.work-project-description {
  color: white;
  text-shadow: 1px 1px black; /* to have a black shadow */
  font-size: calc(20px + 0.5vw); /* allows responsive text size */
  line-height: 25px;
  padding-top: 10px;
}




/***** ABOUT *****/
#about {
  background: url('../img/background_services_water_from_space.png') center center fixed;
}


#about_text {
  background: #C490D1;
  height: 500px;
  margin: auto; /* to center the images horizontally and vertically within the div*/
  padding: 10% 15% 10% 15%;
  display: block;
  text-align: justify; /* makes a blocksatz */
}

/* #about_text p {
  color: white;
  line-height: 25px;
  font-weight: lighter;
  font-size: calc(20px + 0.5vw); } /* responive font size */


/***** SERVICES *****/
#services {
  background: url('../img/background_contact.png') center top fixed;
}

#services-content {
  background: #2D81AF;
  text-align: center;
  padding: 100px 0 100px 0;
  color: white;
  height: 600px;
}



/* #services-content p {
  padding: 0px;
  border: 0px;
  margin-bottom: 0px;
  font-size: 1.5vw;
} */



#services-content img {
  width: 70px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}


/* allows reducing the space between service name and description */
.service_description_group {
  line-height: 1.5;
}

.service_description_group h2, p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.service_description_group p {
  padding-bottom: 50px; /* to get a space between the logo elements */
}

/***** CONTACT *****/

#contact {
  background: url('../img/background_about_water_from_space.png') center center fixed;
}

#contact-content {
  background: #189A83;
  text-align: center;
  color: white;
  padding: 100px;
  font-size: 2vw;
  line-height: 1.2;
}



/***** FOOTER *****/

#copyright {
  text-align: center;
  padding-top: 20px;
  height: 300px;
  background: url('../img/background_lastpic.png') center center fixed;
  color: white;
}

footer p {
    font-size: calc(10px + 0.5vw); /* calculation to make a minimum font size (10px) and scaling by 0.5vw when changing window size */
}

#social_media_links img {
    width: 3%;
    min-width: 30px; /* to assure that the icon sizes doesn't shrink to much when reducing window size*/
}

#social_media_links {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: 0px;
}

#social_media_links ul li {
  list-style: none;
  display: inline
}

/* formatting social media link styles */
#social_media_links ul li a {
  text-decoration: none; /* so that text/links doesn't have an underline */
}
