/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*----------------- BASE STYLES -------------------*/
html {
    font-size: 16px; /* setting base font size for ems */
}

body{
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

header,
footer {
  width: 100%;
}

h1 {
  font-size: 1em; /* responsize font size */
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}

h2 {
  padding: 0px;
  border: 0px;
  margin: 0px;
  font-size: 1.2em; /* responsize font size */
  color: white;
  font-family: 'Lato', sans-serif;
}

p {
  color: white;
  line-height: 1.4;
  font-weight: 100;
  font-size: 1em; /* responive font size */
  font-family: 'Lato', sans-serif;
}


img {
  width: 100%;
}

figure {
  margin: 0;
}


.content-wrapper {
  display: flex;
  width: 90%;
}




/***** HEADER *****/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #1B2E28;
  background: url('../img/background-foto-forest.jpg') center center repeat;
  opacity: 0.9;
}

header .content-wrapper {
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 90%;
}

.header-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  border-top: 1px solid #1B2E28;
}

/* logo header setting */
header figure {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center; /* to center the logo for mobile first */
  flex-flow: row wrap;
  padding-top: 20px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 5px 0;
}

header nav ul li a {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1em;
  text-decoration: none;
  color: white;
}

/*-----------------------------------------------------*/
/* ------- Start Section ----------------------------- */
/*-----------------------------------------------------*/

.start-section {
  background: url('../img/background-foto-forest.jpg') center center repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: 72vh; /* 72% of screen height */
}

.start-section .content-wrapper {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* left align items */
    flex-flow: row wrap;
  }

.slogan {
  color: white;
  font-size: 1.3em; /* responsive font size */
  font-family: 'Lato', sans-serif;
  font-weight: bold ;
  line-height: 1.5;
}

.action-slogan {
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-basis: 10%;
}

#highlight-slogen1 {
  color: #C490D1;
  font-size: 1.5em; /* responsive font size */
}

#highlight-slogen2 {
  color: #2D81AF;
  font-size: 1.7em; /* responsive font size */
  padding-left: 10px;
}

#startpage-button {
  margin-top: 5px;
}

/* chamaleon setting */
.start-section figure {
  width: 30%;
  min-width: 50px;
  max-width: 100px;
  position: relative; /* to allow setting position of img withing figure tag */
  overflow: visible;
}

#chamaeleon {
  position: absolute;
  top: 10px;
  left: 20px;
}

#chamaeleon:hover {
  mix-blend-mode: difference  ; /* DIFFERENCE hard-light overlay*/
}

/*-----------------------------------------------------*/
/*------ mobile styles statement section --------------*/
/*-----------------------------------------------------*/
.statement {
  background-color: #C490D1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statement:hover { /* color background differently */
  background-color: #2C81AE;
}

.statement .content-wrapper {
  padding: 50px 0;
}

#statement-welcome {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.statement h2 {
  height: auto;
  background-color: #C490D1;
  color: white;
  border: 0px;
  margin: 0px;
  font-family: 'Lato' ;
  font-weight: 100;
  line-height: 1.5;
  font-size: 1.25em;
  text-align: center;
}

.statement:hover h2 { /* color background differently */
  background-color: #2C81AE;
}

/*-----------------------------------------------------*/
/*------ mobile styles WORK section --------------*/
/*-----------------------------------------------------*/







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* -------- tablet and desktop styles here   ----------*/
      /*header {
        position: fixed;
      } */

      .start-section {
        background: url('../img/background-foto-forest.jpg') center center repeat fixed;
      }
}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
